.slider {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 800px;
  background: lightgray;
  padding: 50px 0;
}
.slider__wrapper {
  /* display: flex; */
  width: 400px;
  /* height: 300px; */
  overflow: hidden;
}
.slider__line {
  display: flex;
 
}
.slider__img {
  width: 400px;
  /* height: 300px; */
}
.slider__btn-prev, .slider__btn-next {
  width: 60px;
  height: 60px;
}
.slider__btn-prev:hover, .slider__btn-next:hover {
  cursor: pointer;
}
button img{
  width: 50px;
}
.slider__btn-prev img {
  transform: rotate(180deg);
}
.slider__btn-prev {
  position: absolute;
  top: calc(50% - 25px);
  left: 1%;
}
.slider__btn-next {
  position: absolute;
  top: calc(50% - 25px);
  right: 1%;
}
.disabled{
  pointer-events: none;
  filter: blur(2px);
}
.slider__pagination {
  height: 50px;
  display: flex;
  gap: 20px;
}
.slider__dot {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid black;
}
.slider__dot:hover {
  cursor: pointer;
  background: rgb(250, 220, 163);
}
.active-dot {
  background: orange;
}